.wrapper {
  background-color: #221e18;
  min-height: 100vh;
  width: 35%;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.5;
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.prevButton,
.nextButton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.25;
}

.prevButton:hover,
.nextButton:hover {
  opacity: 0.5;
}

.prevButton::after {
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  border: solid 2px white;
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  top: 6px;
  left: 10px;
  box-sizing: border-box;
  transform: rotate(-135deg);
}

.nextButton::after {
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  border: solid 2px white;
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  top: 6px;
  right: 10px;
  box-sizing: border-box;
  transform: rotate(45deg);
}
