.wrapper {
  width: 50%;
  font-family: menlo, monospace;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.title,
.fileName {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.fileName {
  opacity: 0.5;
}

.editorWrapper {
  display: flex;
  width: 100%;
  min-height: 432px;
  background-color: rgb(239, 239, 239);
  color: rgb(170, 170, 170);
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  color: rgb(153, 153, 153);
  background-color: rgb(221, 221, 221);
}

.inputWrapper {
  display: flex;
  gap: 10px;
  height: 21px;
  margin: 10px 10px 0 10px;
  width: 95%;
}

.input {
  width: calc(100% - 44px);
  font-family: menlo, monospace;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.emptyInput {
  animation: flash 0.5s infinite;
}

.enterButton {
  width: 40px;
  display: block;
  border-radius: 2px;
  padding: 2px 7px;
  background-color: rgb(221, 221, 221);
  color: rgb(102, 102, 102);
  border: solid 3px rgb(153, 153, 153);
  border-width: 1px 1px 6px 1px;
  font-family: menlo, monospace;
  font-size: 9px;
  cursor: pointer;
}

.enterButton:active {
  border-width: 1px 1px 1px 1px;
  position: relative;
  height: 16px;
  top: 5px;
  bottom: 0;
}

.hint {
  margin: 0 10px;
  user-select: none;
}

@keyframes flash {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(62, 203, 255, 0.3);
  }
}
