@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/exo-2-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/exo-2-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/exo-2-v20-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/exo-2-v20-latin-800.woff2") format("woff2");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: #2e2a23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
